.main3 {
    grid-area: body2;
    width: 100%;

    .contactForm {
        min-height: 100vh;

        .forme {
            display: table;


            .tableRow {
                display: table-row;


                label {
                    display: none
                }

                textarea {
                    display: table-cell;
                    margin: 0.3em;
                }

                input {

                    display: table-cell;
                    margin: 0.3em;


                }
            }
        }
    }
}