.main4 {

    grid-area: body2;
    width: 100%;
    height: 100vh;

    .q {
        width: 100%;
        background-color: $verde;
        border-radius: 0.5em 0.5em 0 0;
        color: $purpura;
        font-family: $titleFontBig;
        font-size: 1.8em;
        font-weight: bold;
        text-align: left;
        padding-left: 0.5em;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: #97d638;
        }

        &::before {
            content: attr(data-icon);
            margin-right: 1em;
        }
    }

    .a {

        display: none;


        p {
            font-weight: 400;
            font-family: $textFont;
            color: $purpura;
            background-color: $amarillo;
            border-radius: 0 0 0.5em 0.5em;
            font-size: 1.3em;
            padding: 1em;
        }
    }
}